on: push

name: Continuous integration
permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af  # v1.0.7
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - run: |
          cargo fmt --all -- --check
          cargo build --all-targets --release
          cargo test --release
          cargo clippy -- -D warnings

  wasi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af  # v1.0.7
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: wasm32-wasip1
          components: rustfmt

      - run: |
         cargo install wasm-pack
         RUSTFLAGS='--cfg getrandom_backend="wasm_js"' wasm-pack test --node
  wasm32:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af  # v1.0.7
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: wasm32-unknown-unknown
          components: rustfmt

      - run: |
         cargo install wasm-pack
         RUSTFLAGS='--cfg getrandom_backend="wasm_js"' wasm-pack test --node
  miri:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: ""
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af  # v1.0.7
        with:
          profile: minimal
          toolchain: "nightly"
          override: true
          components: miri

      - run: cargo miri test
  fuzz-unsigned:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af  # v1.0.7
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - uses: actions-rs/cargo@b0651d9f4d4983fd4cc8e94d927bdc0bb5566667  #v1.0.1
        with:
          command: install
          args: -f cargo-fuzz
      - run: |
          cargo fuzz run fuzz_u8 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_u16 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_u32 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_u64 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_u128 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_usize -- -max_len=42 -max_total_time=10s

  fuzz-sign:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af  # v1.0.7
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - uses: actions-rs/cargo@b0651d9f4d4983fd4cc8e94d927bdc0bb5566667  #v1.0.1
        with:
          command: install
          args: -f cargo-fuzz
      - run: |
          cargo fuzz run fuzz_i8 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_i16 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_i32 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_i64 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_i128 -- -max_len=42 -max_total_time=10s
          cargo fuzz run fuzz_isize -- -max_len=42 -max_total_time=10s
